.ok, .info, .error {
	padding: 0px 2px;
	margin: 0 5px;
}

.ok {
	background: #cfc;
	border: 2px solid #9c9;
}

.error {
	background: #fcc;
	border: 2px solid #c99;
}

.info {
	background: #ffc;
	border: 2px solid #cc9;
}

legend[for='radColleges'] span {
	float: left;
	position: relative;
	bottom: 197px;
	left: 200px;
}

legend[for='chkAttr'] span {
	float: left;
	position: relative;
	bottom: 150px;
	left: 230px;
}

span {
	display: none;
	font-size: 15px;
}
